@model IEnumerable<MyBlogAspNetMvc.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @if (Model.ToList().Count > 0)
    {
        foreach (var post in Model)
        {
            <div class="col-md-4">
                <h2>@post.Title</h2>
                <p>@post.Description.Substring(0, Math.Min(post.Description.Length, 80))...</p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Details", "Post", new { id = post.Id })">Learn more &raquo;</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Post", new { id = post.Id })">Delete</a>
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Post", new { id = post.Id })">Edit</a>
                </p>
            </div>
        }
    }
</div>